@inherits FluxorLayout
@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher
@using Fluxor
@using Fluxor.Blazor.Web.Components
@using Store.CounterUseCase

<Fluxor.Blazor.Web.StoreInitializer />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>Count: @CounterState.Value.ClickCount</p>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    /// <inheritdoc />
    protected override void OnInitialized()
    {
        // Subscribes to state properties.
        base.OnInitialized();
    }

}